<div class="container">
  <div class="row info-row">
    <div class="col-12">
      <div class="info-box">
        <div class="info">About this service:</div>
        <p>
          This web app is part of my web portfolio. You can see it <a>here</a>
          <br />
          <br />
          All the data here is fake, was created just for show as a demo :).
          Have a good day.
        </p>
      </div>
    </div>
  </div>
  <div class="row title-row">
    <div class="col-12">
      <div class="title">Selecciona un área de salud:</div>
    </div>
  </div>
  <div class="row areas-row">
    <div class="col-md-4" *ngFor="let area of areas">
      <div class="area-salud" (click)="areaSelected.emit(area)">
        <svg class="area-icon">
          <use [attr.xlink:href]="'#' + area.icon" />
        </svg>
        <div class="area-name">
          {{ area.name }}
        </div>
        <span
          class="area-atendiendo"
          [class.disabled]="area.medicosAtendiendo == 0"
        >
          {{ area.medicosAtendiendo }} atendiendo
        </span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="place" style="height: 34px;"></div> -->
